@using System.Timers
@page "/"

<h1 class="text-center @(_wednesday ? "text-success" : "text-danger")">@(_wednesday ? "YES" : "NO")</h1>

@functions
{
    
    bool _wednesday;

    Timer _timer;

    protected override async Task OnInitAsync()
    {
        TimerOnElapsed(null, null);
        _timer = new Timer(1000);
        _timer.Elapsed += TimerOnElapsed;
        _timer.Start();
    }

    private void TimerOnElapsed(object sender, ElapsedEventArgs e)
    {
        _wednesday = IsItWed();
        StateHasChanged();
    }

    private static bool IsItWed()
    {
        // Hardcode EDT for now
        var now = DateTime.Now.ToUniversalTime().Subtract(new TimeSpan(4, 0, 0));
        return now.DayOfWeek == DayOfWeek.Wednesday;
    }
}
